.card {
  padding: 0;
  overflow: hidden;
  box-shadow: var(--mantine-shadow-xs);

  @include mantine.hover {
    .overlay {
      opacity: 0;
    }
  }
}

.overlay {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  padding: var(--mantine-spacing-md);
  background-color: rgba($color: #000000, $alpha: 0.25);
  transition: 0.25s all ease;
}
