.target {
  @include mantine.hover {
    cursor: pointer;
  }
}

.dropdown {
  background-color: light-dark(
    var(--mantine-color-body),
    var(--mantine-color-dark-8)
  );
  border: 0px transparent;
  box-shadow: var(--mantine-shadow-xs);
  padding: 0;
}

.item {
  border-radius: 0;
  overflow: hidden;
  transition: 0.25s all ease;

  @include mantine.hover {
    background-color: light-dark(
      var(--mantine-color-gray-light),
      var(--mantine-color-dark-light)
    );
  }
}

.itemActive {
  font-weight: bold;
  color: var(--mantine-color-text);
  transition: 0.25s all ease;
  background-color: light-dark(
    var(--mantine-color-gray-light),
    var(--mantine-color-dark-light)
  );

  @include mantine.hover {
    background-color: light-dark(
      var(--mantine-color-gray-light),
      var(--mantine-color-dark-light)
    ) !important;
  }
}

.itemDanger {
  border-radius: 0;
  overflow: hidden;
  transition: 0.25s all ease;
  color: var(--mantine-color-red-6);

  @include mantine.hover {
    background-color: light-dark(
      var(--mantine-color-red-light),
      var(--mantine-color-red-light)
    );
  }
}

.itemDangerActive {
  font-weight: bold;
  color: var(--mantine-color-red-6);
  background-color: var(--mantine-color-red-light);
  transition: 0.25s all ease;

  @include mantine.hover {
    background-color: var(--mantine-color-red-light) !important;
  }
}
